.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
}

.gallery__container {
  text-align: center;
  max-width: 1024px;
  width: 100%;
  margin: 1em;
}

.gallery__title {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.gallery__images {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.gallery__image {
  position: relative !important;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
